.hasAnim {
    transition: all ease-in-out 0.2s;
}

.event-grid {
    /*height: 380px;*/
    /*background: red;*/
    overflow: hidden;
    border-radius: 7px;
    width: 40%;
}

.event-grid img {
    /*width: 100%;*/
    /*height: 100% !important;*/
}

.bootstrap-tagsinput {
    border: thin solid #e0e0e0;
    padding: 5px;
    border-radius: 7px;
}

.bootstrap-tagsinput span.tag {
    position: relative;
}

.bootstrap-tagsinput span[data-role=remove] {
    position: absolute;
}

.bootstrap-tagsinput input {
    border: none;
    outline: none;
}

.bootstrap-tagsinput span[data-role=remove]:before {
    content: "X";
    color: #565656;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 9px;
    background: #c3c3c3;
}

.LogedUserinfo {
    width: 200px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.LogedUserinfo .img-wrapper, .LogedUserinfo .info-wrapper {
    float: left;
    height: 100%;
    box-sizing: border-box;
}

.LogedUserinfo .img-wrapper {
    width: 25%;
}

.LogedUserinfo .info-wrapper {
    width: 70%;
    text-align: left;
    padding-left: 3%;
    vertical-align: top;
}

.LogedUserinfo .info-wrapper strong {
    font-size: 16px;
}

.LogedUserinfo .info-wrapper p {
    font-size: 12px;
    cursor: pointer;
}

.float-pup {
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 20000000;
    width: 50%;
    min-height: 100px;
}

.cat-holder {
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#350060+13,000000+99 */
    background: #350060; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #350060 13%, #000000 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #350060 13%, #000000 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #350060 13%, #000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#350060', endColorstr='#000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    position: relative;
    height: 250px;
    /*border-bottom: 3px solid transparent;*/
}

.cat-holder .cat-img-wapper {
    overflow: hidden;
}

.cat-holder .cat-img-wapper, .cat-holder  img {
    width: 100%;
    height: 100%;
}

.cat-holder .cat-img-wapper img {
    opacity: .9;
}

.cat-holder:hover img {
    transform: scale(1.1);
}

.cat-holder .cat-info {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 12%;
}

.cat-holder:hover .cat-info {
    top: 0;
}

.cat-holder .cat-info p {
    padding: 0 10px;
}

.cat-holder .cat-info a {
    position: absolute;
    bottom: 8%;
    left: 30%;

}
