#sec_payments {

}

.payment-show {
    background-color: #3da9f3;
    color: #fff;
    height: 74px;
    cursor: pointer;
    border-left: 9px solid #e83d5d; /*#bee83d;*/
    padding-top: 4px;
}

.payment-item {
    box-shadow: 0 -2px 5px 1px #00000030;
    margin-top: 13px;
}

.payment-details {
    background: #fff;
    padding: 15px;
    font-family: "Montserrat";
}
.payment-details  p{
    width: 49%;
    display: inline-block;
}
.payment-details  p span.payment-details-desc{
    color: #bfbfbf;
}

.payment-show > div > p {
    margin-bottom: 1px;
    font-family: "Montserrat";
}

.payment-show > div {
    float: left;
    padding-left: 20%;
    width: 49%;
}

.payment-show > div > h2 {
    padding-top: 14px;
    font-family: "Montserrat";
}
