.topBarWrapper {
    background: #313131;
    color: #efefef;
    padding: 10px 0px;
}

.tb-phone-info {
    top: -2px;
    position: relative;
    left: -5px;
}

.reg_show {
    color: #efefef;
}

.reg-popup {
    z-index: 100000;
    top: 33px;
    position: fixed !important;
}

.menu-btn {
    border: transparent solid thin;
    margin: 0;
    padding: 1px 9px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    border-radius: 4px;
}

.menu-btn:hover {
    border: #fff solid thin;
}

.topImag {
    width: 34px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #ffffff47;
    padding: 0px;
}

.searchWappre {
    position: relative;
}

.accountLink {
    position: relative;
    margin-left: 7px;
}

.accountLink span {
    background: #6600ec;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    bottom: -11px;
    right: -4px;
    border-radius: 50%;
    border: 2px solid #ffffff94;
}

.pt {
    padding-top: 8px;
}

.logOutLink {
    position: absolute;
    right: -1px;
    top: 19px;
    font-size: 12px;
}

.searchForm {
    position: fixed;
    box-shadow: 1px 1px 6px #0000002e;
    z-index: 99;
    top: -51px;
    background: white;
    width: 100%;
    transition: all ease-in-out 0.3s;
    height: 60px;
}

.searchForm form {
    height: 100%;
}

.searchForm form input {
    height: 100%;
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    /*text-transform: uppercase;*/
    /*color: #313131;*/
    font-family: Montserrat;
    font-size: 25px;
}

.openDiv {
    top: 51px;
}

#seachTrigger {
    cursor: pointer;
}

.mnWraaper {
    position: fixed;
    background: #313131;
    left: 73px;
    top: 52px;
    width: 230px;
    box-shadow: -1px 6px 5px #00000047;
    display: none;
}

.meItem {
    width: 100%;
    display: block;
    margin: 8px auto;
}

.logoItem {
    width: 60%;
    display: block;
    margin: 8px auto;
}

.logoItem img {
    width: 100%;
}

.meItem a {
    width: 100%;
    display: block;
    padding: 8px 1px;
    transition: all ease-in-out 0.3s;
    color: #fff;
    text-transform: uppercase;
}

.meItem a:hover {
    background: #3347E4;
}

.meItem a i {
    margin: 0 10px;
}

/*------------------------------------*/

@media only screen and (max-width: 644px) {
    .topBarWrapper {
        /*background: red;*/
    }

    .usrName {
        display: none;
    }

    .accountLink {
        float: none !important;
    }

    .logOutLink {
        right: -10px;
        top: 9px;
    }
}

@media only screen and (max-width: 580px) {

    .logOutLink {
        right: 5px;
        top: 32px;
        background: #313131;
        padding: 2px 6px;
        box-shadow: 0 9px 7px #0000004d;
    }

    #seachTrigger {
        left: -15px;
        position: relative;
        display: block;
    }
}

@media only screen and (max-width: 375px) {
    .menu-btn {
        position: relative;
        left: 6px;
    }

    .mnWraaper {
        left: 43px;
    }

    .logOutLink {
        right: -22px;
        top: 3px;

    }

    #seachTrigger {
        left: -6px;
    }
    .searchWappre{
        left: 32px;
        top: 11px;
        background: #313131;
        padding: 7px 15px;
        position: absolute;
        text-align: center;
    }
}