@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jyswpo');
  src:  url('fonts/icomoon.eot?jyswpo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jyswpo') format('truetype'),
    url('fonts/icomoon.woff?jyswpo') format('woff'),
    url('fonts/icomoon.svg?jyswpo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notifications_none:before {
  content: "\e97f";
}
.icon-notifications:before {
  content: "\e980";
}
.icon-edit:before {
  content: "\e982";
}
.icon-edit3:before {
  content: "\e984";
}
.icon-play:before {
  content: "\e95a";
}
.icon-arrow-right:before {
  content: "\e975";
}
.icon-arrow-left:before {
  content: "\e976";
}
.icon-menu:before {
  content: "\e96f";
}
.icon-minus:before {
  content: "\e967";
}
.icon-search2:before {
  content: "\e921";
}
.icon-phone2:before {
  content: "\e922";
}
.icon-grid3:before {
  content: "\e923";
}
.icon-chevron-down:before {
  content: "\e924";
}
.icon-Travel:before {
  content: "\e97b";
  color: #3f464f;
}
.icon-packages:before {
  content: "\e97c";
  color: #3f464f;
}
.icon-icon_4:before {
  content: "\e97d";
  color: #fff;
}
.icon-Conferences:before {
  content: "\e97a";
  color: #3f464f;
}
.icon-flight:before {
  content: "\e965";
}
.icon-handshake:before {
  content: "\e917";
}
.icon-arrows:before {
  content: "\e900";
}
.icon-arrows-right:before {
  content: "\e903";
}
.icon-arrows-left:before {
  content: "\e96e";
}
.icon-in:before {
  content: "\e98d";
}
.icon-buy:before {
  content: "\e989";
}
.icon-car:before {
  content: "\e914";
}
.icon-location2:before {
  content: "\e978";
}
.icon-walking:before {
  content: "\e985";
}
.icon-noun_676654_cc:before {
  content: "\e983";
}
.icon-pricetags:before {
  content: "\e931";
}
.icon-tags:before {
  content: "\e931";
}
.icon-prices:before {
  content: "\e931";
}
.icon-shop:before {
  content: "\e931";
}
.icon-ecommerce4:before {
  content: "\e931";
}
.icon-heart:before {
  content: "\e901";
}
.icon-love:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e901";
}
.icon-mail-envelope-open:before {
  content: "\e95d";
}
.icon-search:before {
  content: "\e904";
}
.icon-edit2:before {
  content: "\e986";
}
.icon-pencil:before {
  content: "\e986";
}
.icon-write:before {
  content: "\e986";
}
.icon-writing:before {
  content: "\e986";
}
.icon-save:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e970";
}
.icon-gear:before {
  content: "\e970";
}
.icon-settings:before {
  content: "\e970";
}
.icon-options:before {
  content: "\e970";
}
.icon-cogs2:before {
  content: "\e971";
}
.icon-settings2:before {
  content: "\e971";
}
.icon-gears2:before {
  content: "\e971";
}
.icon-options3:before {
  content: "\e971";
}
.icon-generate:before {
  content: "\e971";
}
.icon-cog3:before {
  content: "\e972";
}
.icon-gear3:before {
  content: "\e972";
}
.icon-settings3:before {
  content: "\e972";
}
.icon-options4:before {
  content: "\e972";
}
.icon-phone:before {
  content: "\e95e";
}
.icon-fax:before {
  content: "\e95e";
}
.icon-contact:before {
  content: "\e95e";
}
.icon-office:before {
  content: "\e95e";
}
.icon-chart:before {
  content: "\e905";
}
.icon-bars:before {
  content: "\e905";
}
.icon-graph:before {
  content: "\e905";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e906";
}
.icon-ribbon:before {
  content: "\e906";
}
.icon-grid:before {
  content: "\e907";
}
.icon-icons:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e964";
}
.icon-home:before {
  content: "\e95f";
}
.icon-plus:before {
  content: "\e957";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-three-bars:before {
  content: "\e90b";
}
.icon-triangle-left:before {
  content: "\e90c";
}
.icon-triangle-right:before {
  content: "\e90d";
}
.icon-list-unordered:before {
  content: "\e90e";
}
.icon-location:before {
  content: "\e988";
}
.icon-map:before {
  content: "\e988";
}
.icon-compass:before {
  content: "\e988";
}
.icon-direction:before {
  content: "\e988";
}
.icon-grid2:before {
  content: "\e910";
}
.icon-calendar2:before {
  content: "\e97e";
}
.icon-date:before {
  content: "\e97e";
}
.icon-schedule:before {
  content: "\e97e";
}
.icon-time:before {
  content: "\e97e";
}
.icon-day:before {
  content: "\e97e";
}
.icon-circle-right:before {
  content: "\e902";
}
.icon-right:before {
  content: "\e902";
}
.icon-circle-next:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-circle-left:before {
  content: "\e908";
}
.icon-left:before {
  content: "\e908";
}
.icon-circle-previous:before {
  content: "\e908";
}
.icon-arrow2:before {
  content: "\e908";
}
.icon-mobile:before {
  content: "\e973";
}
.icon-cell-phone:before {
  content: "\e973";
}
.icon-handheld:before {
  content: "\e973";
}
.icon-minus2:before {
  content: "\e968";
}
.icon-subtract:before {
  content: "\e968";
}
.icon-minimize:before {
  content: "\e968";
}
.icon-line:before {
  content: "\e968";
}
.icon-home2:before {
  content: "\e960";
}
.icon-house:before {
  content: "\e960";
}
.icon-mail:before {
  content: "\e961";
}
.icon-contact2:before {
  content: "\e961";
}
.icon-support:before {
  content: "\e961";
}
.icon-newsletter:before {
  content: "\e961";
}
.icon-letter:before {
  content: "\e961";
}
.icon-email:before {
  content: "\e961";
}
.icon-envelop:before {
  content: "\e961";
}
.icon-social:before {
  content: "\e961";
}
.icon-plus2:before {
  content: "\e958";
}
.icon-add:before {
  content: "\e958";
}
.icon-sum:before {
  content: "\e958";
}
.icon-eye-minus:before {
  content: "\e911";
}
.icon-views:before {
  content: "\e911";
}
.icon-vision:before {
  content: "\e911";
}
.icon-visit:before {
  content: "\e911";
}
.icon-eye-plus:before {
  content: "\e912";
}
.icon-views2:before {
  content: "\e912";
}
.icon-vision2:before {
  content: "\e912";
}
.icon-visit2:before {
  content: "\e912";
}
.icon-eye2:before {
  content: "\e913";
}
.icon-views3:before {
  content: "\e913";
}
.icon-vision3:before {
  content: "\e913";
}
.icon-visit3:before {
  content: "\e913";
}
.icon-credit-card:before {
  content: "\e934";
}
.icon-money:before {
  content: "\e934";
}
.icon-payment:before {
  content: "\e934";
}
.icon-ecommerce3:before {
  content: "\e934";
}
.icon-star-full:before {
  content: "\e915";
}
.icon-rate:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e915";
}
.icon-favorite2:before {
  content: "\e915";
}
.icon-bookmark2:before {
  content: "\e915";
}
.icon-star-empty:before {
  content: "\e916";
}
.icon-rate2:before {
  content: "\e916";
}
.icon-star2:before {
  content: "\e916";
}
.icon-favorite4:before {
  content: "\e916";
}
.icon-bookmark3:before {
  content: "\e916";
}
.icon-heart2:before {
  content: "\e933";
}
.icon-like2:before {
  content: "\e933";
}
.icon-love2:before {
  content: "\e933";
}
.icon-favorite3:before {
  content: "\e933";
}
.icon-search3:before {
  content: "\e918";
}
.icon-magnifier:before {
  content: "\e918";
}
.icon-magnifying-glass:before {
  content: "\e918";
}
.icon-inspect:before {
  content: "\e918";
}
.icon-find:before {
  content: "\e918";
}
.icon-phone22:before {
  content: "\e919";
}
.icon-telephone:before {
  content: "\e919";
}
.icon-contact3:before {
  content: "\e919";
}
.icon-support2:before {
  content: "\e919";
}
.icon-call:before {
  content: "\e919";
}
.icon-arrow-left2:before {
  content: "\e91a";
}
.icon-left2:before {
  content: "\e91a";
}
.icon-previous:before {
  content: "\e91a";
}
.icon-arrow-up-right:before {
  content: "\e91b";
}
.icon-up-right:before {
  content: "\e91b";
}
.icon-arrow-top-right:before {
  content: "\e91b";
}
.icon-arrow-right2:before {
  content: "\e91c";
}
.icon-right2:before {
  content: "\e91c";
}
.icon-next:before {
  content: "\e91c";
}
.icon-list2:before {
  content: "\e91d";
}
.icon-todo:before {
  content: "\e91d";
}
.icon-bullet:before {
  content: "\e91d";
}
.icon-menu2:before {
  content: "\e91d";
}
.icon-options2:before {
  content: "\e91d";
}
.icon-arrow-down-left:before {
  content: "\e91e";
}
.icon-down-left:before {
  content: "\e91e";
}
.icon-arrow-bottom-left:before {
  content: "\e91e";
}
.icon-arrow-down-right:before {
  content: "\e91f";
}
.icon-down-right:before {
  content: "\e91f";
}
.icon-arrow-bottom-right:before {
  content: "\e91f";
}
.icon-arrow-down:before {
  content: "\e920";
}
.icon-down:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e920";
}
.icon-bottom:before {
  content: "\e920";
}
.icon-chevron-with-circle-right:before {
  content: "\e909";
}
.icon-chevron-with-circle-left2:before {
  content: "\e90f";
}
.icon-chevron-with-circle-left:before {
  content: "\e98c";
}
.icon-chevron-thin-down:before {
  content: "\e979";
}
.icon-old-phone:before {
  content: "\e974";
}
.icon-back:before {
  content: "\e966";
}
.icon-plus3:before {
  content: "\e959";
}
.icon-cross:before {
  content: "\e955";
}
.icon-dots-three-vertical:before {
  content: "\e925";
}
.icon-dots-three-horizontal:before {
  content: "\e926";
}
.icon-instagram3:before {
  content: "\e927";
}
.icon-youtube:before {
  content: "\e928";
}
.icon-chevron-thin-left:before {
  content: "\e929";
}
.icon-chevron-small-left:before {
  content: "\e92a";
}
.icon-chevron-thin-right:before {
  content: "\e92b";
}
.icon-list3:before {
  content: "\e92c";
}
.icon-chevron-thin-up:before {
  content: "\e92d";
}
.icon-chevron-small-up:before {
  content: "\e92e";
}
.icon-arrow-long-up:before {
  content: "\e92f";
}
.icon-triangle-up:before {
  content: "\e930";
}
.icon-plus-circle:before {
  content: "\e98b";
}
.icon-info:before {
  content: "\e98a";
}
.icon-edit4:before {
  content: "\e987";
}
.icon-pencil-square-o:before {
  content: "\e987";
}
.icon-envelope-o:before {
  content: "\e981";
}
.icon-user:before {
  content: "\e969";
}
.icon-youtube-square:before {
  content: "\e96a";
}
.icon-twitter-square:before {
  content: "\e96b";
}
.icon-facebook-official:before {
  content: "\e977";
}
.icon-file-pdf-o:before {
  content: "\e96c";
}
.icon-image:before {
  content: "\e96d";
}
.icon-photo:before {
  content: "\e96d";
}
.icon-picture-o:before {
  content: "\e96d";
}
.icon-shopping-basket:before {
  content: "\e95c";
}
.icon-close:before {
  content: "\e956";
}
.icon-remove:before {
  content: "\e956";
}
.icon-times:before {
  content: "\e956";
}
.icon-shopping-basket2:before {
  content: "\e95b";
}
.icon-heart-o:before {
  content: "\e932";
}
.icon-heartbeat:before {
  content: "\e963";
}
.icon-heart3:before {
  content: "\e962";
}
.icon-cogs:before {
  content: "\e935";
}
.icon-gears:before {
  content: "\e935";
}
.icon-cog2:before {
  content: "\e936";
}
.icon-gear2:before {
  content: "\e936";
}
.icon-instagram2:before {
  content: "\e937";
}
.icon-vimeo-square:before {
  content: "\e938";
}
.icon-vimeo:before {
  content: "\e939";
}
.icon-youtube2:before {
  content: "\e93a";
}
.icon-phone3:before {
  content: "\e93b";
}
.icon-angle-left:before {
  content: "\e93c";
}
.icon-angle-double-left:before {
  content: "\e93d";
}
.icon-chevron-left:before {
  content: "\e93e";
}
.icon-angle-right:before {
  content: "\e93f";
}
.icon-angle-double-right:before {
  content: "\e940";
}
.icon-chevron-right:before {
  content: "\e941";
}
.icon-list:before {
  content: "\e942";
}
.icon-long-arrow-down:before {
  content: "\e943";
}
.icon-chevron-circle-down:before {
  content: "\e944";
}
.icon-angle-down:before {
  content: "\e945";
}
.icon-angle-double-down:before {
  content: "\e946";
}
.icon-sort-desc:before {
  content: "\e947";
}
.icon-sort-down:before {
  content: "\e947";
}
.icon-caret-down:before {
  content: "\e948";
}
.icon-chevron-down2:before {
  content: "\e949";
}
.icon-download2:before {
  content: "\e94a";
}
.icon-cloud-download:before {
  content: "\e94b";
}
.icon-chevron-circle-up:before {
  content: "\e94c";
}
.icon-angle-up:before {
  content: "\e94d";
}
.icon-angle-double-up:before {
  content: "\e94e";
}
.icon-caret-up:before {
  content: "\e94f";
}
.icon-chevron-up:before {
  content: "\e950";
}
.icon-linkedin:before {
  content: "\e951";
}
.icon-google-plus:before {
  content: "\e952";
}
.icon-twitter:before {
  content: "\e953";
}
.icon-facebook:before {
  content: "\e954";
}
.icon-facebook-f:before {
  content: "\e954";
}
